<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>[微笑]</key>
        <string>Expression_1</string>
        <key>[撇嘴]</key>
        <string>Expression_2</string>
        <key>[色]</key>
        <string>Expression_3</string>
        <key>[发呆]</key>
        <string>Expression_4</string>
        <key>[得意]</key>
        <string>Expression_5</string>
        <key>[流泪]</key>
        <string>Expression_6</string>
        <key>[害羞]</key>
        <string>Expression_7</string>
        <key>[闭嘴]</key>
        <string>Expression_8</string>
        <key>[睡]</key>
        <string>Expression_9</string>
        <key>[大哭]</key>
        <string>Expression_10</string>
        <key>[尴尬]</key>
        <string>Expression_11</string>
        <key>[发怒]</key>
        <string>Expression_12</string>
        <key>[调皮]</key>
        <string>Expression_13</string>
        <key>[呲牙]</key>
        <string>Expression_14</string>
        <key>[惊讶]</key>
        <string>Expression_15</string>
        <key>[难过]</key>
        <string>Expression_16</string>
        <key>[酷]</key>
        <string>Expression_17</string>
        <key>[冷汗]</key>
        <string>Expression_18</string>
        <key>[抓狂]</key>
        <string>Expression_19</string>
        <key>[吐]</key>
        <string>Expression_20</string>
        <key>[偷笑]</key>
        <string>Expression_21</string>
        <key>[愉快]</key>
        <string>Expression_22</string>
        <key>[白眼]</key>
        <string>Expression_23</string>
        <key>[傲慢]</key>
        <string>Expression_24</string>
        <key>[饥饿]</key>
        <string>Expression_25</string>
        <key>[困]</key>
        <string>Expression_26</string>
        <key>[惊恐]</key>
        <string>Expression_27</string>
        <key>[流汗]</key>
        <string>Expression_28</string>
        <key>[憨笑]</key>
        <string>Expression_29</string>
        <key>[悠闲]</key>
        <string>Expression_30</string>
        <key>[奋斗]</key>
        <string>Expression_31</string>
        <key>[咒骂]</key>
        <string>Expression_32</string>
        <key>[疑问]</key>
        <string>Expression_33</string>
        <key>[嘘]</key>
        <string>Expression_34</string>
        <key>[晕]</key>
        <string>Expression_35</string>
        <key>[疯了]</key>
        <string>Expression_36</string>
        <key>[衰]</key>
        <string>Expression_37</string>
        <key>[骷髅]</key>
        <string>Expression_38</string>
        <key>[敲打]</key>
        <string>Expression_39</string>
        <key>[再见]</key>
        <string>Expression_40</string>
        <key>[擦汗]</key>
        <string>Expression_41</string>
        <key>[抠鼻]</key>
        <string>Expression_42</string>
        <key>[鼓掌]</key>
        <string>Expression_43</string>
        <key>[糗大了]</key>
        <string>Expression_44</string>
        <key>[坏笑]</key>
        <string>Expression_45</string>
        <key>[左哼哼]</key>
        <string>Expression_46</string>
        <key>[右哼哼]</key>
        <string>Expression_47</string>
        <key>[哈欠]</key>
        <string>Expression_48</string>
        <key>[鄙视]</key>
        <string>Expression_49</string>
        <key>[委屈]</key>
        <string>Expression_50</string>
        <key>[快哭了]</key>
        <string>Expression_51</string>
        <key>[阴险]</key>
        <string>Expression_52</string>
        <key>[亲亲]</key>
        <string>Expression_53</string>
        <key>[吓]</key>
        <string>Expression_54</string>
        <key>[可怜]</key>
        <string>Expression_55</string>
        <key>[菜刀]</key>
        <string>Expression_56</string>
        <key>[西瓜]</key>
        <string>Expression_57</string>
        <key>[啤酒]</key>
        <string>Expression_58</string>
        <key>[篮球]</key>
        <string>Expression_59</string>
        <key>[乒乓]</key>
        <string>Expression_60</string>
        <key>[咖啡]</key>
        <string>Expression_61</string>
        <key>[饭]</key>
        <string>Expression_62</string>
        <key>[猪头]</key>
        <string>Expression_63</string>
        <key>[玫瑰]</key>
        <string>Expression_64</string>
        <key>[凋谢]</key>
        <string>Expression_65</string>
        <key>[嘴唇]</key>
        <string>Expression_66</string>
        <key>[爱心]</key>
        <string>Expression_67</string>
        <key>[心碎]</key>
        <string>Expression_68</string>
        <key>[蛋糕]</key>
        <string>Expression_69</string>
        <key>[闪电]</key>
        <string>Expression_70</string>
        <key>[炸弹]</key>
        <string>Expression_71</string>
        <key>[刀]</key>
        <string>Expression_72</string>
        <key>[足球]</key>
        <string>Expression_73</string>
        <key>[瓢虫]</key>
        <string>Expression_74</string>
        <key>[便便]</key>
        <string>Expression_75</string>
        <key>[月亮]</key>
        <string>Expression_76</string>
        <key>[太阳]</key>
        <string>Expression_77</string>
        <key>[礼物]</key>
        <string>Expression_78</string>
        <key>[拥抱]</key>
        <string>Expression_79</string>
        <key>[强]</key>
        <string>Expression_80</string>
        <key>[弱]</key>
        <string>Expression_81</string>
        <key>[握手]</key>
        <string>Expression_82</string>
        <key>[胜利]</key>
        <string>Expression_83</string>
        <key>[抱拳]</key>
        <string>Expression_84</string>
        <key>[勾引]</key>
        <string>Expression_85</string>
        <key>[拳头]</key>
        <string>Expression_86</string>
        <key>[差劲]</key>
        <string>Expression_87</string>
        <key>[爱你]</key>
        <string>Expression_88</string>
        <key>[NO]</key>
        <string>Expression_89</string>
        <key>[OK]</key>
        <string>Expression_90</string>
        <key>[爱情]</key>
        <string>Expression_91</string>
        <key>[飞吻]</key>
        <string>Expression_92</string>
        <key>[跳跳]</key>
        <string>Expression_93</string>
        <key>[发抖]</key>
        <string>Expression_94</string>
        <key>[怄火]</key>
        <string>Expression_95</string>
        <key>[转圈]</key>
        <string>Expression_96</string>
        <key>[磕头]</key>
        <string>Expression_97</string>
        <key>[回头]</key>
        <string>Expression_98</string>
        <key>[跳绳]</key>
        <string>Expression_99</string>
        <key>[投降]</key>
        <string>Expression_100</string>
    </dict>
</plist>
